@tailwind base;

@font-face {
  font-family: gangstergrotesk;
  font-weight: 300;
  src: url(/fonts/gangstergrotesk-light.woff) format("woff");
}
@font-face {
  font-family: gangstergrotesk;
  font-weight: 400;
  src: url(/fonts/gangstergrotesk-regular.woff) format("woff");
}
@font-face {
  font-family: gangstergrotesk;
  font-weight: 500;
  src: url(/fonts/gangstergrotesk-bold.woff) format("woff");
}
@font-face {
  font-family: SpaceGrotesk;
  font-weight: 300;
  src: url(/fonts/SpaceGrotesk-Light.woff) format("woff");
}
@font-face {
  font-family: SpaceGrotesk;
  font-weight: 400;
  src: url(/fonts/SpaceGrotesk-Regular.woff) format("woff");
}
@font-face {
  font-family: SpaceGrotesk;
  font-weight: 500;
  src: url(/fonts/SpaceGrotesk-Medium.woff) format("woff");
}
@font-face {
  font-family: SpaceGrotesk;
  font-weight: 600;
  src: url(/fonts/SpaceGrotesk-Semibold.woff) format("woff");
}
@font-face {
  font-family: SpaceGrotesk;
  font-weight: 700;
  src: url(/fonts/SpaceGrotesk-Bold.woff) format("woff");
}

@tailwind components;
@tailwind utilities;
